<%= form_with(url: '/search') do |f| %>
  <%= f.text_field :q %>
  <%= f.submit 'search' %>
<% end %>

<% if @results != nil %>
  <ul>
  <%= @results.each do |r| %>
    <li><%= r[0]["webTitle"] %></li>
  <% end %>
  </ul>
<% else %>
  <p>No results yet</p>
<% end %>




